<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5">
        <div class="card-body">
          <h2 class="card-title text-center text-white py-3">{{ title }}</h2>
          <table class="center">
            <tr class="text-center">
              <td class="list-inline-item">
                <a routerLink="/users" routerLinkActive="active" class="btn btn-info">List Users</a>
                  </td>
              <td class="list-inline-item">
                <a routerLink="/adduser" class="btn btn-info">Add User</a>
                  </td>
            </tr>
            <tr class="text-center">
              <td class="list-inline-item">
                 <a routerLink="/adduser" routerLinkActive="active" class="btn btn-info">List Books</a>
                  </td>
              <td class="list-inline-item">
                  <a routerLink="/adduser" routerLinkActive="active" class="btn btn-info">Add Books</a>
                    </td>
            </tr>
            <tr class="text-center">
              <td class="list-inline-item">
                  <a routerLink="/adduser" routerLinkActive="active" class="btn-info">List Movies</a>
                    </td>
              <td class="list-inline-item">
                  <a routerLink="/adduser" routerLinkActive="active" class="btn btn-info">Add Movies</a>
                    </td>
            </tr>
            <tr class="text-center">
              <td class="list-inline-item">
                  <a routerLink="/adduser" routerLinkActive="active" class="btn btn-info">List Loans</a>
                    </td>
              <td class="list-inline-item">
                  <a routerLink="/adduser" routerLinkActive="active" class="btn btn-info">Add Loans</a>
                    </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>